<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <img src="<%= resim %>" alt="">

    <h3>Kitap adi: <%=kitapAdi %> </h3>
    <h4>Yazar :  <%= yazar %> </h4>
    <h4> Aciklama :  </h4>
    <p><%= aciklama %></p>





  </body>
</html>
