<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="">

      <%=sehir.name%> ilinin hava sicakligi <%=(sehir.main.temp-273).toFixed(2)%>


      <img style="width:10rem" src="\resimler\<%=sehir.weather[0].icon%>.jpg" alt="">



    </div>

  </body>
</html>
