
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid d-flex justify-content-between">

  <div class="d-flex">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bölgeler
          </a>


          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <% for(var i = 0 ; i < bolgeAdlari.length ; i++) { %>
              <a class="dropdown-item" href="/bolgeler/<%=bolgeAdlari[i]%>"><%=bolgeAdlari[i]%></a>
            <% } %>

          </div>
        </li>

      </ul>
      <a class="api" href="/api/sehirekle">API</a>

      </div>

    </div>
      <div class="">
        <form action="/arama" class="d-flex">
          <input name="arananKonum" class="form-control me-2" type="search" placeholder="Konum Giriniz" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Ara</button>
        </form>
      </div>

    </div>

</nav>
