<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Kisiler</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/evliler">Evliler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bekarlar">Bekarlar</a>
        </li>

      </ul>
    </div>
    <a href="/kategori/:medeniDurum"><button type="button" class="btn btn-primary ml-2">Hepsi</button></a>
    <a href="/bekarlar"><button type="button" class="btn btn-primary ml-2">Bekarlar</button></a>
    <a href="/evliler"><button type="button" class="btn btn-primary ml-2">Evliler</button></a>
    <a href="#"><button type="button" class="btn btn-primary ml-2">Kisi Ekle</button></a>



  </div>
</nav>


<script type="text/javascript">



</script>

<script type="text/javascript">



</script>
